<!DOCTYPE html>
<html>
    <head>
        <title>Mars Weather</title>
        <link href="/css/style.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0" type:"text/javascript"></script>
    </head>

    <body>
        <h1 class ="main-heading">What's the weather like on Mars?
            <style>
                h1 {
                    font-family: 'Courier New', Courier, monospace;
                    padding-top: 100px;
                }
            </style>
        </h1>
      <div class="container">
            <fieldset>
                <style>
                    fieldset {
                        border: 0;
                        margin-top: 20px;
                    }
                </style>
                <form name='postForm' id='postForm' action="/" method="post">
                    <label for="sol">Please select a day:</label>
                    <select name="sol" id="sol">
                        <option value="0" selected><%= week[0] %></option>
                        <option value="1"><%= week[1] %></option>
                        <option value="2"><%= week[2] %></option>
                        <option value="3"><%= week[3] %></option>
                        <option value="4"><%= week[4] %></option>
                        <option value="5"><%= week[5] %></option>
                        <option value="6"><%= week[6] %></option>
                    </select><br>
                    <input type="radio" id="fahrenheit" name="f" value="1">
                        <label for='fahrenheit'>Fahrenheit</label>
                    <input type='radio' id='celsius' name='c' value='2'>
                        <label for='celsius'>Celsius</label>                    
                    <input class="btn" type="submit" id='submit_btn' name="submit_btn" value="Get Weather">
                    <% if(intro !== null && intro !== null){ %> 
                        <div id= submitContainer>
                            <div id=text>
                                <div class="box">
                                    <p><%= intro %></p><br>
                                </div>

                                <div class = "box">
                                    <p id="temp"> <%= marsTemp%></p><br>
                                </div> 
                

                                <div class = "box">
                                    <p><%= marsWind %></p><br>
                                </div>
                                <div class = "box">
                                    <p><%= marsPressure %></p><br>
                                </div>
                            </div>
                            
                            <div id=windChart>
                                <canvas id="tempChart" width="300" height="200"></canvas>
                                <script>
                                    var ctx = document.getElementById('tempChart').getContext('2d');
                                    var chart = new Chart(ctx, {
                                        // Type of chart we want to create
                                        type: 'line',

                                        // The data for our dataset
                                        data: {
                                            labels: ["<%= week[6] %>", "<%= week[5] %>", "<%= week[4] %>", "<%= week[3] %>", 
                                                    "<%= week[2] %>", "<%= week[1] %>", "<%= week[0] %>"],
                                            datasets: [{
                                                label: 'Average Temperatures for Past Seven Sols or Martian Days',
                                                borderColor: 'rgb(255, 255, 255)',
                                                
                                                data: ["<%= tempData[6] %>", "<%= tempData[5] %>", "<%= tempData[4] %>", "<%= tempData[3] %>", 
                                                "<%= tempData[2] %>", "<%= tempData[1] %>", "<%= tempData[0] %>"]
                                            }]
                                        },
                                        
                                        // Configuration options go here
                                        options: {
                                            legend: {
                                                labels: {
                                                    fontColor: 'white'
                                                }
                                            },
                                            scales: {
                                                yAxes: [{
                                                    ticks: {
                                                        fontColor: 'white'
                                                    },
                                                    scaleLabel: {
                                                        display: true,
                                                        labelString : '<%= yAxes %>',
                                                        fontColor: 'white'
                                                    }
                                                }],
                                                xAxes: [{
                                                    ticks: {
                                                        fontColor: 'white'
                                                    },
                                                    scaleLabel : {
                                                        dispaly: true,
                                                        labelString : 'Days / Sols',
                                                        fontColor: 'white'
                                                    }
                                                }]
                                            }

                                        }
                                    });
                                </script>
                            </div>
                        </div>
                    <% } %>
                </form>
               
            </fieldset>
        </div>
       <script>
           var interval = 1000 * 60 * 60 * 24;
           function update_sql() {
                var btn = document.getElementById('submit_btn');
                btn.click();
           }
           setInterval(update_sql, interval);
       </script>
    
    
    </body>

</html>